@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(236, 236, 234);
  --border-color: rgb(247, 246, 246);
  --main-height: 100vh;
}

* {
  color: rgb(37, 14, 14);
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: "Indie Flower", cursive;
  background-color: var(--primary-color);
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 15px solid var(--border-color);
  border-radius: 50%;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.caption {
  margin: 10px auto;
  font-size: 1.45rem;
  padding: 10px;
  text-align: center;
}

.header > * {
  text-align: center;
  font-size: 1.75rem;
}

.recipe-container {
  border: 10px solid var(--border-color);
  border-radius: 25px;
  padding: 25px;
}

.recipe-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.recipe-list > .recipe {
  text-align: center;
  margin: 10px;
}

.footer {
  width: 100vw;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
