body {
    background-color: #e4bcb7;
}

h1 {
    color: #e01851;
    font-weight: 800;
    font-size: 50px;
}

h2 {
    color: rgb(230, 7, 7);
    font-weight: 600;
    font-size: 40px;
}

h3 {
    color: rgb(230, 7, 7);
    font-weight: 400;
    font-size: 30px;
}

p {
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 16px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: blue;
    margin: 10px 10px;
}

ol li {
    color: rgb(253, 250, 250);
    font-weight: 800;
    font-size: 16px;
}

ul li {
    color: rgb(252, 250, 250);
    font-weight: 800;
    font-size: 16px;
}

ul li a {
    text-decoration: none;
    color: rgb(199, 110, 110);
    font-size: 30px;
}

img {
    height: auto;
    width: 600px;
}


